# Laravel
/backend/laravel/public/build
/backend/laravel/public/hot
/backend/laravel/public/storage
/backend/laravel/node_modules
/backend/laravel/vendor
/backend/_webroot/storage
/backend/_webroot/storage/app/public

