<!-- wp:template-part {"slug":"header"} /-->
<!-- wp:group {"tagName":"main","layout":{"type":"default"}} -->
<main class="wp-block-group">
  <!-- wp:template-part {"slug":"page-header"} /-->
  <!-- wp:group {"tagName":"article","layout":{"type":"default"}} -->
  <article class="wp-block-group">
    <!-- wp:group {"tagName":"section","layout":{"type":"default"}} -->
    <section class="wp-block-group">
      <!-- wp:heading {"level":1} -->
      <h1 class="wp-block-heading">ページコンテンツ（固定ページ）</h1>
      <!-- /wp:heading -->
      <!-- 固定ページ メインループ start -->
      <!-- wp:template-part {"slug":"content-page"} /-->
      <!-- 固定ページ メインループ end -->
    </section>
    <!-- /wp:group -->
  </article>
  <!-- /wp:group -->
  <!-- wp:template-part {"slug":"pagination"} /-->
  <!-- wp:template-part {"slug":"sidebar"} /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"breadcrumb"} /-->
<!-- wp:template-part {"slug":"footer"} /-->
