<!-- wp:template-part {"slug":"header"} /-->
<!-- wp:group {"tagName":"main","layout":{"type":"default"}} -->
<main class="wp-block-group">
  <!-- wp:template-part {"slug":"page-header"} /-->
  <!-- wp:group {"tagName":"article","layout":{"type":"default"}} -->
  <article class="wp-block-group">
    <!-- wp:group {"tagName":"section","layout":{"type":"default"}} -->
    <section class="wp-block-group">
      <!-- wp:heading {"level":1} -->
      <h1 class="wp-block-heading">ページコンテンツ（検索結果ページ）</h1>
      <!-- /wp:heading -->
      <!-- 検索結果カウント -->
      <!-- wp:shortcode -->[startify_search_count]<!-- /wp:shortcode -->
      <!-- 検索結果ページ メインループ start -->
      <!-- wp:query {"queryId":0,"query":{"inherit":true}} -->
      <div class="wp-block-query">
        <!-- wp:post-template -->
          <!-- wp:pattern {"slug":"startify-block-theme/loop"} /-->
        <!-- /wp:post-template -->
        <!-- wp:query-no-results -->
          <!-- wp:paragraph -->
          <p>投稿記事がありません</p>
          <!-- /wp:paragraph -->
        <!-- /wp:query-no-results -->
      </div>
      <!-- /wp:query -->
      <!-- 検索結果ページ メインループ end -->
    </section>
    <!-- /wp:group -->
  </article>
  <!-- /wp:group -->
  <!-- wp:template-part {"slug":"pagination"} /-->
  <!-- wp:template-part {"slug":"sidebar"} /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"breadcrumb"} /-->
<!-- wp:template-part {"slug":"footer"} /-->
