<main class='l-main p-page p-front-page'>
  <article class='p-section-01'>
    <section class='l-wrapper'>
      <div class='l-container'>
        <div class='l-inner'>
          <div class='__block-1'>
            <div id='app-react'></div>
            <div id='app-vue'></div>
            <div id='app-three' style='width: 600px; height: 300px; max-width: 100%;'></div>
          </div>
        </div>
      </div>
    </section>
  </article>
  <!-- section 01 end -->
  <aside class='l-aside'>
    <section class='l-wrapper'>
      <div class='l-container'>
        <div class='l-inner'>
          <div class='__block-1'></div>
        </div>
      </div>
    </section>
  </aside>
  <!-- aside end -->
</main>
<!-- main end -->